src/main/resources/jeb-common.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pcsoft.org/jeb/config/common"
           xmlns:c="http://pcsoft.org/jeb/config/common">
    <xs:attributeGroup name="XClassPathScanning">
        <xs:attribute name="use-classpath-scanner" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="classpath-scanning-package" type="xs:string" use="optional"/>
    </xs:attributeGroup>
</xs:schema>